<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>z_fileUpload</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>upload.action.Upload</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>BaiduTest3</display-name>
    <servlet-name>BaiduTest3</servlet-name>
    <servlet-class>upload.action.BaiduTest3</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>upload.action.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaiduTest</display-name>
    <servlet-name>BaiduTest</servlet-name>
    <servlet-class>upload.action.BaiduTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaiduTest</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaiduTest2</display-name>
    <servlet-name>BaiduTest2</servlet-name>
    <servlet-class>upload.action.BaiduTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaiduTest2</servlet-name>
    <url-pattern>/federation/forConnect/baiduLogin.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BaiduTest3</servlet-name>
    <url-pattern>/federation/token.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
</web-app>